* {
    max-width: 100vw;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

/*Bootstrap Jumbotron Styling*/
.jumbotron{
	background-image: url('../images/macOntable-min-square-min.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    margin-bottom: 1.5em;
    opacity: .8;
}
/*Element Styling*/
body{
    background-color: #f8f8ff;
}

h1{
    color:black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
     font-size: 3em;
}

h3{
    color:black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    margin-top: 45px;
}
p{
    color:black;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 15px;
}
.certs{
    text-align: center;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    list-style: none;
    line-height: 1.8em;
    
}
hr{
    margin: 50px;    
}
footer{
    max-width: 100vw;
    margin-top: 45px;
}
/*Hover effects for GitHub, Link, and Facebook*/
.githubLogo{
    opacity: 1.5;
    transition: 0.3s;
}     
.githubLogo:hover{
    transform: scale(1.2);
    opacity: 0.5;
}
.linkLogo{
    opacity: 1.5;
    transition: 0.3s;
}
.linkLogo:hover{
    transform: scale(1.2);
    opacity: 0.5;
}
.facebookLogo{
    opacity: 1.5;
    transition: 0.3s;
}
.facebookLogo:hover{
    transform: scale(1.2);
    opacity: 0.5;
}
/*----MEDIA QUERIES-----------------------------------------------------------------*/
@media (min-width: 768px){
/*Bootstrap Jumbotron Styling*/
.jumbotron{
	background-image: url('../images/macOntable-min-square-min.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    margin-bottom: 1.5em;
    opacity: .8;
}  
h1{
    color:black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 4em;
}

h3{
    color:black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 2.8em;
}
p{
    color:black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.75em;
    font-size: 1.8em;
}

}
/*----MEDIA QUERIES-----------------------------------------------------------------*/
@media (min-width: 1024px){
/*Bootstrap Jumbotron Styling*/
.jumbotron{
    background-image: url('../images/macOntable-min-square-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 222px;
    margin-bottom: 2em;
    opacity: .8;
}
h1{
    color:black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    
}
h2{
    color:black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
h3{
    color:black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    
}
p{
    color:black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: inline-block;
    max-width: 80%;
    height: 1.5em;
    font-size: 1.5em;
   
}
}
/* Side Scroll Bar-------------------------------------------------------------------------*/
::-webkit-scrollbar-trac{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: grey;
}
::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: steelblue;
    background-image: -webkit-linear-gradient(90deg,transparent rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}