* {
  text-align: center;
  max-width: 100vw;
}
html{
  scroll-behavior: smooth;
}
/*Bootstrap Jumbotron Styling*/
.jumbotron{
  max-width: 100vw;
	  background-image: url('../images/seattleSky-min.jpg');
  	background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    padding: 125px;
    margin-bottom: 1.5em;
    text-align: center;
}
body {
  margin: 1px;
  background: lightgrey;
}
/*Hello, I'm Blake.*/ 
h1{
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 5em;
}
/*I develope websites.*/
h2{
  font-family:'Open Sans', Arial, Helvetica, sans-serif;;
  font-size: 4em;
  padding: 75px;
}
/* About me, PROJECT TITLE LANGUAGES USED TITLE*/
h3{
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 15px;
/*LANGUAGES USED*/
}
h4{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
h5{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-top: 25px;
}
/*P element for the ABout ME section*/
p{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  padding: 5px;
}
#projectHeading{
  text-align: center;
  font-size: 4em;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* P element for PORJECT DESCRIPTION*/
.project p{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}
/*h3 element styling for project titles and languages used*/
.project h3{
  font-size: 2em;
}
hr{
  margin: 20px;
  background-color: grey;
}
/*STYLING FOR LANGUAGES USED HTML, CSS, JS*/
.langUsed{
  padding-bottom: 45px;
}

/*Hover effects for GitHub, Link, and Facebook*/
.githubLogo{
  opacity: 1;
  transition: 0.4s;
}     
.githubLogo:hover{
  transform: scale(1.2);
  opacity: 0.5;
}

.linkLogo{
  opacity: 1;
  transition: 0.4s;
}

.linkLogo:hover{
  transform: scale(1.2);
  opacity: 0.5;
}

.facebookLogo{
  opacity: 1;
  transition: 0.4s;
}
.facebookLogo:hover{
  transform: scale(1.2);
  opacity: 0.5;
}

img {
  align-items: center;
  max-width: 96vw;
}
img:hover {
  transform: scale(1);
}

.portfolio-container {
  padding-bottom: 10px;
}
.project {
  padding-bottom: 25px;
}
.project img{
  padding: 20px;
} 
.project button{
  text-align: center;
  padding: 10px 24px;
  background-color: white;
  font-size: 1em;
  color: black;
  border: none;
  text-decoration: none;
  border-radius: 35px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.4s;
}

.project button:hover {
  background-color: steelblue;
  color: white;
}

footer{
  margin: 10px;
}

/*Media Query-------------------------------------------------*/

@media screen and (min-width: 768px) {

  /*Bootstrap Jumbotron Styling*/
.jumbotron{
  background-image: url('../images/seattleSky-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
  padding: 200px;
  margin-bottom: 1.2em;
  text-align: center;
}
h1{
  font-size: 5.5em;
}
h3{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 3em;
  padding-top: 75px;
}
p{
  /*P element for the ABout ME section*/
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  padding: 5px;
}

.project p{
  font-size: 1.8em;
}


#projectHeading{
  padding-top: 125px;
}
  img {
    transition-duration: .5s;
  }
  .project {
    width: 100vw;
    margin: 0;
  }

  .project img {
    max-width: 75vw;
  }

  #portfolio{
    font-size:2em;
  }
 
  img:hover {
    transform: scale(1.1);
  }
  .portfolio-container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }
  .project button{
    text-align: center;
    padding: 18px 30px;
    background-color: white;
    font-size: 1.2em;
    color: black;
    border: none;
    text-decoration: none;
    border-radius: 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.4s;
    
  }
  
  .project button:hover {
    background-color: steelblue;
    color: white;
  }

  .contactInfo p{
    margin: 10px;
    font-size: 2em;
  }
}

/*Media Query-------------------------------------------------*/

@media screen and (min-width: 1024px) {

    /*Bootstrap Jumbotron Styling*/
.jumbotron{
  background-image: url('../images/seattleSky-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
  padding: 200px;
  margin-bottom: 1.2em;
  text-align: center;
}
hr{
  display: none;
}
#profilePic{
  margin: 20px;
  max-width: 30vw;
}
h1{
  font-size: 5em;
}
h3{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-top: 75px;
}
/*Styling for About Me*/

.aboutMe h3{
   padding-top: 150px;
   padding-bottom: 25px;
}
p{
  /*P element for the About ME section*/
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.3em;
  padding: 5px;
}
/*h3 and P element styling for Languages and Tools Used*/
#listSection{
  display: flex;
  justify-content: space-around;
}
section h3{
  font-size: 2.5em;
  
}
section p{
  font-size: 1.8em;
}
.project {
  width: 25vw;
  
}
.portfolio-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project img {
  max-width: 25vw;
}

/* h4 and P element for the Favorite Project section*/

.project p{
  margin: 2px;
  font-size: 1.4em;
}
.buttonContainer{
  bottom: 0px;
}
.project button{
  
  text-align: center;
  padding: 10px 24px;
  background-color: azure;
  font-size: 1em;
  color: black;
  border: none;
  text-decoration: none;
  border-radius: 35px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.4s;
}

.project button:hover {
  background-color: steelblue;
  color: white;
}

.contactInfo p {
  font-size: 1.6em;
  padding: 25px;
}
  

}

/* Side Scroll Bar-------------------------------------------------------------------------*/
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: grey;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: azure;
    background-image: -webkit-linear-gradient(90deg,transparent rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}