* {
  text-align: center;
  max-width: 100vw;
}
html{
  scroll-behavior: smooth;
}
/*Bootstrap Jumbotron Styling*/
.jumbotron{
	  background-image: url('../images/seattleSky.jpg');
  	background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    padding: 100px;
    margin-bottom: 1.2em;
    text-align: center;
}
/*Hello, I'm Blake.*/ 
h1{
  color: black;
}
/*I develope websites.*/
h2{
  padding: 55px;
}
/*Hover effects for GitHub, Link, and Facebook*/
.githubLogo{
  opacity: 1;
  transition: 0.4s;
}     
.githubLogo:hover{
  transform: scale(1.2);
  opacity: 0.5;
}

.linkLogo{
  opacity: 1;
  transition: 0.4s;
}

.linkLogo:hover{
  transform: scale(1.2);
  opacity: 0.5;
}

.facebookLogo{
  opacity: 1;
  transition: 0.4s;
}
.facebookLogo:hover{
  transform: scale(1.2);
  opacity: 0.5;
}
body {
  margin: 1px;
  background: lightgrey
}

img {
  max-width: 100%;
}
img:hover {
  transform: scale(1);
}

ul {
  display: flex;
  justify-content: space-between;
  font-family: 'Oxygen Mono', sans-serif, arial;
  list-style: none;
}

.portfolio-container {
  padding-bottom: 10px;
}

#portfolio {
  padding: 40px;
}

.project {
  padding-bottom: 25px;
}

/*Media Query----------------------------*/

@media screen and (min-width: 768px) {

  .nav {
    display: inline-flex;
  }

  img {
    transition-duration: .5s;
  }


  .profile-pic {
    padding-top: 0;
    width: 90%;
    height: 100%;
  }

  .project {
    float: left;
    width: 45%;
    margin:auto;
  }

  .project:nth-child(even) {
    margin-right: 7%;
  }

  .project img {
    max-width: 100%;
  }

  #portfolio{
    font-size:2em;
  }
 
  img:hover {
    transform: scale(1.1);
  }
}



@media screen and (min-width: 1024px) {

  body {
    padding-bottom: 0;
    padding-top: 25px;
  }

  
  .portfolio-container {
    margin-bottom: 100px;
  }

  .project:nth-child(even) {
    margin-right: initial;
  }

  .project.proj-1,
  .project.proj-2,
  .project.proj-4,
  .project.proj-5 {
    margin-right: 5%;
  }

  .project {
    width: 30%;
  }

  .project img {
    max-width: 100%;
  }

}

/* Side Scroll Bar-------------------------------------------------------------------------*/
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: grey;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: azure;
    background-image: -webkit-linear-gradient(90deg,transparent rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}